<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CustomerManagement.Properties.Settings.CustomersConnectionString"
            connectionString="Data Source=HO-SQL01\DEV;Initial Catalog=Customers;Persist Security Info=True;User ID=customerApp;Password=customerApp"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>