<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="UserManagement.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <UserManagement.Properties.Settings>
            <setting name="SessionTimeout" serializeAs="String">
                <value>2.00:00:00</value>
            </setting>
            <setting name="EmailServer" serializeAs="String">
                <value>Some email server. Eg: smtp.gmail.com</value>
            </setting>
            <setting name="EmailPort" serializeAs="String">
                <value>Some email server port. Eg: 587</value>
            </setting>
            <setting name="EmailEnableSsl" serializeAs="String">
                <value>Whether to use ssl. Eg: True</value>
            </setting>
            <setting name="EmailAddress" serializeAs="String">
                <value>Your apps email address</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>Your apps email password</value>
            </setting>
            <setting name="ActivationEmailSubject" serializeAs="String">
                <value>Sample Account activation</value>
            </setting>
            <setting name="ActivationEmailBodyTemplate" serializeAs="String">
                <value><![CDATA[
                    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
                    <html xmlns="http://www.w3.org/1999/xhtml" >
                    <head>
                        <title></title>
                    </head>
                    <body>
                        <p>Welcome!</p>
                        <p>Click here to confirm your account: <a href="&lt;activationLink&gt;">Activate</a></p>
                        <p>Copyright Some Company, 2011</p>
                    </body>
                    </html>
                ]]></value>
            </setting>
            <setting name="ActivationEmailLinkBinding" serializeAs="String">
                <value><![CDATA[&lt;activationLink&gt;]]></value>
            </setting>
            <setting name="RegistrationEmailSubject" serializeAs="String">
                <value>Sample Account registration</value>
            </setting>
            <setting name="RegistrationEmailBody" serializeAs="String">
                <value>
                    <![CDATA[
                    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
                    <html xmlns="http://www.w3.org/1999/xhtml" >
                    <head>
                        <title></title>
                    </head>
                    <body>
                        <p>Thank you.  Your registration with Rebelio Games has been activated.</p>
                        <p>Please click <a href="http://some link">here</a> for log in.</p>
                    </body>
                    </html>
                ]]>
                </value>
            </setting>
        </UserManagement.Properties.Settings>
    </applicationSettings>
</configuration>